/*// generic global overrides //////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

* {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	box-sizing: border-box;
}

html, body {
	padding: 0px;
	margin: 0px;
}

body {
	background: #1b1b1b;
	color: #eee;
}

a:link,
a:visited {
	color: #eee;
	font-weight: 400;
	text-decoration: none;
}

a:active,
a:hover {
	color: #B42F30;
	text-decoration: none;
}

h1,h2,h3,h4 {
	line-height: normal;
	margin: 0px;
	padding: 0px;
}

hr {
	border: 0px;
	border-bottom: 1px solid #444;
}

p {
	margin: 0px 0px 16px 0px;
}

p:last-child {
	margin-bottom: 0px;
}

legend {
	font-size: 1.2em;
	font-weight: 300;
}

/*// generic local overrides ///////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.PaddingVerticalNone { padding-top: 0px !important; padding-bottom: 0px !important; }
.PaddingVerticalBarely { padding-top: 16px !important; padding-bottom: 16px !important; }
.PaddingVerticalNormal { padding-top: 32px !important; padding-bottom: 32px !important; }
.PaddingVerticalSpaaace { padding-top: 64px !important; padding-bottom: 64px !important; }

.MarginLineNone { margin-bottom: 0px !important; }
.MarginLineBarely { margin-bottom: 16px !important; }
.MarginLineNormal { margin-bottom: 32px !important; }
.MarginLineSpaaace { margin-bottom: 64px !important; }

.TextColourRed { color: #B42F30 !important; }
.TextAlignCenter { text-align: center !important; }
.TextAlignRight { text-align: right !important; }
.TextWeightBold { font-weight: 500 !important; }
.TextWeightLight { font-weight: 300 !important; }
.TextWeightNormal { font-weight: normal !important; }

.FloatClear { border: 0px; clear: both; float: none; margin: 0px; padding: 0px; }
.FloatLeft { float: left; }
.FloatRight { float: right; }

.WidthThird { width: 33.332%; margin: 0px; }
.WidthHalf { width: 50%; margin: 0px; }
.WidthFull { width: 100%; margin: 0px; }

.WidthHalf.WidthPadded:nth-child(2n+1) { padding-right: 16px; }
.WidthHalf.WidthPadded:nth-child(2n) { padding-left: 16px; }

/*// primary page structures ///////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.Contain
> div {
	margin: 0px auto;
	padding: 10px 0px;
	width: 960px;
}

header
> .Contain:nth-child(1) {
	background: #1b1b1b;
	padding: 16px 0px;
}

header
> .Contain:nth-child(2) {
	background: #282828;
	border-top: 0px solid #333;
	border-bottom: 0px solid #222;
}

header
nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

header
nav ul li {
	display: inline-block;
	margin: 0px 16px;
	text-transform: uppercase;
}

header
nav ul li a:link,
header
nav ul li a:visited {
	color: #888;
}

#Main
> .Contain:nth-child(2n+1) {
	background-color: #1a1a1a;
}

#Main
> .Contain:nth-child(2n) {
	background-color: #202020;
}

/*// document table layout /////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.DocumentTable {
	border-collapse: collapse;
}

.DocumentTable
thead th {
	font-weight: bold;
	padding: 16px 16px;
	text-align: left;
}

.DocumentTable
tbody tr {
	border-top: 1px solid #333;
}

.DocumentTable
tbody td {
	padding: 16px 16px;
}

.DocumentTable
td.Title {
	width: 50%;
}

.DocumentTable
td.Title a {
	border-bottom: 1px dotted #888;
}

.DocumentTable
td.Title div {
	font-size: 0.8em;
	opacity: 0.5;
	padding-top: 4px;
}

.DocumentTable
.Type,
.DocumentTable
.DateSigned,
.DocumentTable
.DatePublished {
	text-align: center;
}

.ViewPDF {
	height: 500px;
	width: 100%;
}

/*// promo/chart area //////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.Promo.AmericaFuckYeah {
	background-image: url(gfx/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	box-shadow: 0px 0px 24px #000 inset;
}

.ChartTermOverTimeLegend {

}

.ChartTermOverTimeLegend
ul {
	list-style-type: none;
	margin: 0px;
	padding: 16px;
}

.ChartTermOverTimeLegend
ul li {
	display: inline-block;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.ChartTermOverTimeLegend
ul li a {
	box-shadow: 0px 0px 5px #000;
	background: rgba(0,0,0,0.5);
	border-radius: 3px;
	border-style: solid;
	border-width: 3px;
	display: block;
	margin: 0px;
	padding: 4px;
}

/*// App Site Element styles ///////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.Element-Pager {
	text-align: center;
}
